.container{
    background-image:url("Image/imageedit_6_4923598004.jpg") ;
    height: auto;
    background-size: cover;
    background-color: #283747;
    height: auto;
    width: auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
}

.nav1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    background-color:#d6dce2 ;
    margin: 0;
    padding: 0%;
}

.nav1 a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 500;
    color: #283747 ;
}

.nav1 a:active{
    border-bottom: .5px solid #283747 ;
    font-size: 30px ;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 20px;
    border-radius: 5px;
    transform: scale(0.8);
    box-shadow: 0.5px 10px 10px rgba(0, 0, 0, 0.5);
}

.nav1 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nav a{
    text-decoration: none;
    margin: 0px 20px 0px 20px;
    letter-spacing: 2px;

}

.serchDetails{
    height: 400px;
    /* margin-top: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283747;
    background-image: url("Image/imageedit_6_4923598004.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.serchDetails h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.serchDetails input{
    height: 60px;
    width: 350px;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    border: 1px solid grey;
    border-radius:  5px 5px;
}


.buttonClass{
    display: flex;
    background-color: #283747;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    padding-bottom: 30px;
    background-image: url("Image/imageedit_6_4923598004.jpg");
    /* background-position: ; */
    background-size: cover;
}

.btn1   {
    width: 300px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 5px;
    border: 1px solid #25841e;
    border-radius: 15px;
    color: white;
    margin-left: 400px;

    margin: 5px;
    background-color: rgb(4, 84, 4);
}

.btn1:active{
    width: 250px;
    height: 50px;
    background-color: rgb(1, 56, 1);
}
